* {
    font-family: 'Kumbh Sans', sans-serif;
}

#piano {
    outline: 10px solid black;
    height: 300px;
    width: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -700px;
}

.key {
    display: inline-block;
    outline: 5px solid black;
    height: 300px;
    width: 100px;
    margin: 0;
    padding: 0;
    background-color: white;
    
    text-align: center;
    font-size: 48px;
    line-height: 300px;
}
