html {
    background: no-repeat center center fixed;
    background-image: url(../images/0000.png);
    background-size: cover;
}

#time {
    border: 1px solid red;
    height: 100px;
    width: 180px;
    visibility: hidden;
}

#time img {
    height: 100%;
    width: 100%;
}