@font-face {
    font-family: "Antipasto";
    src: url("../../resources/fonts/Antipasto.otf");
}

@font-face {
    font-family: "Comfortaa";
    src: url("../../resources/fonts/Comfortaa.otf");
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    font-size: 23px;
    line-height: 1.5;
}

a {
    color: #ffffff;
}

.header {
    transition: 0.2s;
    color: rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 55px;
}

.header-bg {
    transition: 0.2s;
    background-color: #34434a;
    color: #ffffff;
}

.header h5,
.header i {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.header h5 {
    left: 15px;
    user-select: none;
}

.header i {
    right: 20px;
    font-size: 1.2em;
}

.header i:hover {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.1em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav #closeBtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2em;
    margin-left: 50px;
    padding-top: 0px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../resources/img/hero.jpg");
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        
}

.hero-image.alt {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../resources/img/hero.jpg");
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image.h404 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../resources/img/404.jpg");
    height: 100%;
    background-position: top;
    background-size: cover;
}

.hero-text {
    width: 75vw;
    text-align: center;
    color: white;
    font-family: "Antipasto", sans-serif;
}

.hero-text.t404 {
    top: 30%;
    font-family: "Comfortaa", sans-serif;
}

.hero-text h1 {
    text-align: center;
    font-size: 4em;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.hero-scroll {
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10%;
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}

.footer {
    background-color: #2a6d68;
    height: 100px;
    position: relative;
}

.footer-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Consolas";
}

.section {
    height: auto;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.content {
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 80px;
}

.button {
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.125em;
    letter-spacing: 0.225em;
    line-height: 3.125em;
    padding: 0 2.75em;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#section-1 {
    background-color: #273034;
}

.short {
    margin-top: -30px;
}

#section-2 {
    background-color: #334c5c;
}

#section-3 {
    background-color: #221d1b;
}

#section-4 {
    background-color: #0e1215;
}

.number {
    font-family: "Comfortaa", sans-serif;
    font-size: 0.9em;
}
