:root {
    --hero-font: "Fira Mono";
    --header-font: "Fira Mono";
    --body-font: "Fira Mono";
    --footer-font: "Fira Mono";
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: var(--body-font), sans-serif;
    font-size: 23px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5:not(#foot), h6 {
    font-family: var(--header-font), sans-serif;
}

a {
    color: #ffffff;
}

textarea {
    background-color: #212224;
    color: white;
}
textarea::placeholder {
    color: rgb(151, 151, 151);
}

ul.simple {
    list-style: none;
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 55px;
    /* border: 1px solid cyan; */
    user-select: none;
}

.header #menu {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    color: white;
    /* border: 1px solid red; */
}

.header #menu:hover {
    cursor: pointer;
}

#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
    user-select: none;
}

#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.1em;
    color: #818181;
    display: block;
    transition: 0.3s;
    /* border: 1px solid red; */
}

#sidenav a.sub {
    padding-left: 50px;
    font-size: 0.8em;
    /* border: 1px solid green; */
}

#sidenav a:hover {
    color: #f1f1f1;
    cursor: pointer;
}

#sidenav #close {
    color: white;
    position: absolute;
    top: 16px;
    right: 22px;
    font-size: larger;
    /* border: 1px solid grey; */
}
#sidenav #close:hover {
    cursor: pointer;
}

#sidenav #secretBtn {
    position: absolute;
    bottom: 30px;
    right: 10px;
    font-size: 2em;
    margin-left: 50px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* stack flex items vertically */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
}

.hero-image.alt {
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image.h404 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/img/404.jpg");
    height: 100%;
    background-position: top;
    background-size: cover;
}

.hero-text {
    width: 75%;
    /* height: 500px; */
    text-align: center;
    color: white;
    font-family: var(--hero-font), sans-serif;
    /* border: 1px solid white; */
}

.hero-text.t404 {
    top: 30%;
    font-family: var(--hero-font), sans-serif;
}

.hero-text h1 {
    text-align: center;
    margin: auto;
    max-width: 75%;
    font-size: auto;
    /* border: 1px solid cyan; */
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

#hero-scroll {
    color: white;
    position: absolute;
    bottom: 10%;
    z-index: 99;
    /* border: 1px solid blue; */
}

#hero-scroll:hover {
    cursor: pointer;
}

.hero-image svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}

.footer {
    font-family: var(--footer-font);
    background-color: rgb(42, 109, 104);
    height: 100px;
    position: relative;
}

.footer-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: var(--footer-font), sans-serif;
    /* border: 1px solid red; */
}

.footer img {
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color: white;
}

.section:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
}

.section .content {
    width: 90%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid white; */
    display: flex;
}

.content.row {
    flex-direction: row;
}
.content.col {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content .text {
    padding-bottom: 20px;
}

.section.game #game-info #text {
    align-items: flex-start;
    text-align: left;
}
.section.game #game-info #screenshots {
    align-items: flex-end;
}
.section.game #game-info #screenshots img {
    width: 80%;
}

.button {
    cursor: pointer;
    text-decoration: none;
    user-select: none;

    transition: background-color 0.2s ease-in-out;

    background-color: transparent;

    border-radius: 5px;
    box-shadow: inset 0 0 0 2px #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;

    height: 3em;
    /* min-width: 160px; */
    /* width: 80%; */

    letter-spacing: 0.225em;

    /* margin: auto; */
    /* margin-bottom: 12px; */
    padding: 0 25px;
}
/* .button.long {
    width: 300px;
} */
.button.medium {
    font-size: 0.65em;
}
.button.small {
    font-size: 0.5em;
}
.button img {
    height: 30%;
    filter: invert(1);
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.button.series:not(:last-child) {
    margin-bottom: 0.5em;
}

#section-1 {
    background-color: #273034;
}

.short {
    margin-top: -30px;
}

#section-2 {
    background-color: #334c5c;
}

#section-3 {
    background-color: #221d1b;
}

#section-4 {
    background-color: #0e1215;
}

.number {
    font-family: "Comfortaa", sans-serif;
    font-size: 0.9em;
}

.column-item.title {
    /* border: 1px solid red; */
    padding: 0px;
    height: 90px;
}

.column-item:not(.title) {
    /* border: 1px solid red; */
    height: 110px;
    padding-left: 5%;
    padding-right: 5%;
}

#curator-feed-default-feed-layout {
    margin-top: 50px;
    padding-bottom: 50px;
    pointer-events: none;
}

#curator-feed-default-feed-layout a {
    font-size: 60%;
    color: rgba(255, 255, 255, 0.4);
    pointer-events: all;
}

#preloader {
    display: none;
}

#games-collection #row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#games-collection #row img {
    height: 350px;
    transform: scale(1);
    transition: .3s ease-in-out;
}

#games-collection #row img:hover {
    transform: scale(1.05);
}

#spacer {
    width: 12px;
    /* border: 1px solid red; */
}

.tab {
    /* border: 1px solid red; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
}
.tab .card {
    /* border: 1px solid blue; */

    background-color: #191a1b;
    padding: 25px;
    padding-bottom: 40px;
    border-radius: 15px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    width: 230px;
}
.tab .card #preview {
    /* border: 1px solid green; */

    color: #abc9e3;
    padding: 15px;
}
.tab .card #name {
    /* border: 1px solid green; */
    padding: 15px;
}
.tab .card #code .button {
    /* border: 1px solid green; */
    margin-bottom: 10px;
}

/* THEMES */
[theme=cosmogony] {
    --header-font: "Chakra Petch", sans-serif;
    --body-font: "Chakra Petch", sans-serif;
}
[theme=cosmogony] #section-1 {
    background-color: #161616;
}
[theme=cosmogony] .hero-image {
    background-image: url(../../assets/img/games/cosmogony/banner.jpg);
}

[theme=svg-tool] #section-1 {
    background-color: #212224;
}
[theme=svg-tool] #section-2 {
    background-color: #181515;
}
[theme=svg-tool] .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/hero/custom/squares.jpg);
}