* {
    background-color: black;
    color: white;
    font-family: "Source Code Pro";
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    user-select: none;
}

.text-container {
    margin: 10px;
    margin-left: 15px;
}

#text {
    white-space: pre-wrap;
}

#cursor {
    animation: blink 0.8s step-start infinite;
    display: inline-block;
    transform: translate(0px, 1px);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.modal-container {
    /background-color: red;
    opacity: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal {
    border: 1px solid white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.hidden {
    display: none;
}

.button {
    width: auto;
    height: auto;
    float: left;
    border: 1px solid white;
    padding: 10px;
}

.button:hover {
    border-width: 2px;
    cursor: pointer;
}

.button.thing:hover {
    border-width: 1px;
}

.thing-container {
    /border: 1px solid red;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    bottom: 200px;
    transform: translate(-50%, 0)
}

.thing-row {
    /border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blocker {
    display: none;
    position: absolute;
    background-color: transparent;
    /background-color: rgba(255, 0, 0, 0.12);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.thing {
    z-index: 1;
}

.sheep-container {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
    /border: 1px solid red;
    width: 555px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: none;
}

.sheep-container img {
    height: 80px;
}

.sheep-container img.dead {
    filter: saturate(20);
    transform: rotate(-160deg);
}
